@charset "ISO-8859-1";

*{
	margin: 0px;
	padding: 0px;
}
		
.container{
	width: 400px;
	margin: 0px auto;
	margin-top: 20px;
	text-align: center;
	font-family: "Comic Sans MS", Arial, Helvetica;
}
	

div.correct{
	width: 200px;
	height: 150px;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 15px;
	text-align: center;
	line-height: 45px;
	background-color: #008000;
}

div.tooHigh{
	width: 200px;
	height: 150px;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 15px;
	text-align: center;
	line-height: 145px;
	background-color: #ff0000;
}

div.tooLow{
	width: 200px;
	height: 150px;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 15px;
	text-align: center;
	line-height: 145px;
	background-color: #ff0000;
}

div.gameOver{
	width: 200px;
	height: 150px;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 15px;
	text-align: center;
	line-height: 35px;
	background-color: #ff0000;
}